// Home Content
.home-page {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;  

  .img {
    .img-style;
  }

  .heading-img {
    border-radius: 1rem;
  }

  .intro {
    font-size: 3rem;
    margin: 0 0 2rem 0;
    @media @phone {
      margin: 0 2rem;
    }

    h1{
      margin: 2rem 0 3rem;
    }
  }
}
  .home-page {

    .middle-content {
      width: 100%;
      
      .middle-img{
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 0;
        
        .img {
          height: 100%;
        }
        
        .blast {
          @media @phone {
          width: 100%;
          margin: 0 2rem;
        }
      }
      
        .launch {
          @media @phone {
            display: none;
          }
        }  

        .sky {
          @media @phone {
            display: none;
          }
        }
      }

      .middle-content-text {
        margin: 5rem 0;
        @media @phone {
          margin: 0 5rem 0 2rem;
        }
      
        h2 {
          margin: 0 0 2rem 0;
        }
      }
    }
  }
  
  .home-page{
    .bottom-section {
      max-width: 800px;
      width: 100%;
      margin: 10rem 0 0 0;
      border-top: 1px solid @border-real;
     
      @media @phone{
        margin: 2rem 0 0 0;
      }
      
      .bottom-content {
        display:flex;
        width: 90%;
            margin: 5rem 3rem 0 3rem;

        @media @phone {
          width: 100%;
          flex-direction: column-reverse;
          margin: 2rem 0 0 0;
        }
  
      .bottom-content-text {
        margin: 0 2rem;
        width: 60%;

        @media @phone {
          width: 100%;
          margin: 0 auto;
          padding: 2rem;
        }
        
          h2 {
            margin: 0 0 1.5rem 0;
          }
      
        .button {
          width: 10rem;
          padding: 1rem 0 1rem 1.5rem;
          margin: 2.6rem 0 2rem 0;
          font-size: 2rem;
          .btn-style;
         
          &:hover{
            background: @sea-shell;
            color: @btn-bg;
          }

          @media @phone {
            width: 100%;
            border-radius: 0.5rem;
            padding: 2rem;
            height: 6rem;
            text-align: center;
        }
      }
    }
    
      .bottom-img {
        width: 100%;
        height: 100%;
        margin: 0 0 0 5rem;

        .img {
          width: 100%;
          height: 100%;
        }

        @media @phone {
          margin: 0 auto;
          height: 100%;
          width: 90%;
        }
      } 
    }  
  }  
}
    
  

  
